$section-border:    1px solid #e6e6e6;

$section-padding:   10px;
$side-padding:      10px;

$header-color:      #093A52;
$filter-bar-color:  #093A52;


$domestic: #113d54;
$overseas: #e26131; 
$military: #f29101;

$election-day: #41aef4;
$early: #5a7688;
$absentee: #aba5a1;
$provisional: #cbc5c1;