$section-border:    1px solid #e6e6e6;

$section-padding:   10px;
$side-padding:      10px;

$header-color:      #093A52;
$filter-bar-color:  #093A52;


$domestic: #113d54;
$overseas: #e26131; 
$military: #f29101;

$election-day: #41aef4;
$early: #5a7688;
$absentee: #aba5a1;
$provisional: #cbc5c1;

$vote-count: #00cc7a;
$not-vote-count: #e68a00;
$rejected-count: #ff8080;
$reg-rejected: #aa3030;


$oset-white: #FFFFFF;
$oset-red: #FF543F;
$oset-gray: #7C7C81;
$oset-dark-gray: #666666;
$oset-black: #000000;
$oset-blue: #0b5394;
$ttv-blue: #1782C5;
$ttv-light-blue: #94D8E9;