#pages_federal {
  .accordion {
    display: none;
  }

  .ui-widget {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
  }

  .ui-state-default {
    background: #e6e6e6;
  }

  .results {
    table {
      margin-bottom: 5px;
    }

    td, th {
      padding: 8px 0;
    }
  }

  .text-right {
    text-align: right;
  }
}
