

.btn-group .btn, .dropdown-menu {
  border-radius: 0;
  -moz-border-radius: 0;
}

.btn-group .btn {
  background: #DDDCDC;
  border: none;
}

.btn-group > .btn:first-child, .btn-group > .btn:last-child {
  border-radius: 0;
  -moz-border-radius: 0;
}

.btn-group.open .btn, .btn-group > .btn.active {
  background: #989898;
  color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}

.dropdown-menu > li > a:hover {
  background: #DDDCDC;
}

.toggle-box > a {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  background: #DDDCDC;
  border: none;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  margin-right: 2px;
  line-height: 20px;
}

.toggle-box input {
  margin-top: 0px;
}

