<button class="btn btn-small<%%= ' active' if @coloringType == 'results' %>" data-type="results" title="<%= I18n.t 'scoreboard.header.coloring_type_selector.results' %>">Results Map</button>
<button class="btn btn-small<%%= ' active' if @coloringType == 'participation' %>" data-type="participation" title="<%= I18n.t 'scoreboard.header.coloring_type_selector.participation' %>">Participation Map</button>
