<%% if @view == 'map': %>
  <div>
    <div class='map-saved-items'>
      <a>View Saved Maps (<%%= @saved_count %>)</a>
      <%% if @saved_count > 0: %>
        <ul>
          <%% for map in @maps: %>
            <li><a class='map-link' href='#<%%= map.url %>'><%%= map.url %></a></li>
          <%% end %>
        </ul>
      <%% end %>
    </div>
    <button class="btn btn-small map-save-button dropdown-toggle" data-toggle="dropdown" title="<%= I18n.t 'scoreboard.header.view_selector.settings' %>" id="view-settings-button">
      <span class="fa fa-save"></span> 
      <span class='btn-label'>Save</save>
      <!-- <span class="caret"></span> //-->
    </button>
  </div>
<%% end %>