<button class="btn btn-small<%%= ' active' if @view == 'Map' %>" data-view="map" title="<%= I18n.t 'scoreboard.header.view_selector.map' %>">Map</button>
<button class="btn btn-small<%%= ' active' if @view == 'List' %>" data-view="list" title="<%= I18n.t 'scoreboard.header.view_selector.list' %>">List</button>
