<div class="row-fluid" id="filter-bar">
    <div class="span4">
      <label><%= I18n.t 'scoreboard.header.left_menu.label' %></label>
      <span id='federal-dropdown-region'></span>
      <span id='state-dropdown-region'></span>
      <span id='local-dropdown-region'></span>
      <span id='other-dropdown-region'></span>
    </div>

    <div class="span8">
      <label><%= I18n.t 'scoreboard.header.right_menu.label' %></label>
      <span id='district-dropdown-region'></span>
      <span id='precinct-dropdown-region'></span>
    </div>
</div>

<div class="row-fluid" id="bread-crumbs">
  <div class="span9" id="breadcrumbs-region"></div>
  <div class="span3 view-selector" id="view-selector-region"></div>
</div>
