<div id="filter-bar">
    <div class="row">
      <div class="col-xs-6">
        <h3>Election Results</h3>
      </div>
  
      <div class="col-xs-6">
        <a href="#metadata"  id="js-election-metadata">View Election Metadata &raquo;</a>
        <label id="percent-reporting"><%%= gon.percentReporting %>&nbsp;&nbsp;</label>
      </div>
    </div>
    <div class="row-fluid">
      <%% if @shouldShowFilters(): %>
        <div class="span4">
          <label class="dropdown-label"><%= I18n.t 'scoreboard.header.left_menu.label' %></label>
          <div class="row-fluid">
            <span id='federal-dropdown-region' class='col-xs-6 col-lg-3'></span>
            <span id='state-dropdown-region' class='col-xs-6 col-lg-3'></span>
            <div class='clearfix visible-xs-block'></div>
            <span id='local-dropdown-region' class='col-xs-6 col-lg-3'></span>
            <span id='other-dropdown-region' class='col-xs-6 col-lg-3'></span>
          </div>
        </div>

        <div class="span3">
          <label class="dropdown-label"><%= I18n.t 'scoreboard.header.right_menu.label' %></label>
          <span id='district-dropdown-region' class='col-xs-12 col-md-6'></span>
          <div class='clearfix visible-xs-block'></div>
          <span id='precinct-dropdown-region' class='col-xs-12 col-md-6'></span>
        </div>
      
        <div class="span3">
          <label class="dropdown-label"><%= I18n.t 'scoreboard.header.channel_menu.label' %></label>
          <span id='early-channel-toggle' class='col-xs-12 col-md-6 col-lg-4'></span>
          <span id='sameday-channel-toggle' class='col-xs-12 col-md-6  col-lg-4'></span>
          <span id='absentee-channel-toggle' class='col-xs-12 col-md-6  col-lg-4'></span>
        </div>
        <div class="span2">
          <a href="#advanced-filters" id="js-advanced-filters">Advanced Filters &raquo;</a>
        </div>
      <%% else: %>
        <div class="span9">
          <a href="#advanced-filters" id="js-back-to-advanced-filters">&laquo; Return to Advanced Filters </a>
          <h3>Viewing Advanced Filters</h3>
        </div>
      <%% end %>
    </div>
</div>

<div id="bread-crumbs">
  <div class="row-fluid">
    <div class="span8" id="breadcrumbs-region"></div>
    <div class="span4 text-right">
      <span class="view-selector" id="view-selector-region"></span>
      <span id="view-settings-region"></span>
    </div>
  </div>
</div>


<div id="save-view-as"></div>

