<div id="filter-bar">
    <div class="row-fluid">
      <%% if @shouldShowFilters(): %>
        <div class="span4">
          <label class="dropdown-label"><%= I18n.t 'scoreboard.header.left_menu.label' %></label>
          <span id='federal-dropdown-region'></span>
          <span id='state-dropdown-region'></span>
          <span id='local-dropdown-region'></span>
          <span id='other-dropdown-region'></span>
        </div>

        <div class="span3">
          <label class="dropdown-label"><%= I18n.t 'scoreboard.header.right_menu.label' %></label>
          <span id='district-dropdown-region'></span>
          <span id='precinct-dropdown-region'></span>
        </div>
      
        <div class="span3">
          <label class="dropdown-label"><%= I18n.t 'scoreboard.header.channel_menu.label' %></label>
          <span id='early-channel-toggle'></span>
          <span id='sameday-channel-toggle'></span>
          <span id='absentee-channel-toggle'></span>
        </div>
        <div class="span2">
          <label><%%= gon.percentReporting %></label>
          <a href="#advanced-filters" id="js-advanced-filters">Advanced Filters &raquo;</a>
        </div>
      <%% else: %>
        <div class="span9">
          <label><%%= gon.percentReporting %></label>
          <a href="#advanced-filters" id="js-advanced-filters">&laquo; Return to Advanced Filters </a>
          <h3>Viewing Advanced Filters</h3>
        </div>
      <%% end %>
    </div>
</div>

<div id="bread-crumbs">
  <div class="row-fluid">
    <div class="span8" id="breadcrumbs-region"></div>
    <div class="span4 text-right">
      <span class="view-selector" id="view-selector-region"></span>
    </div>
  </div>
</div>
<div id="view-options">
  <div class="row-fluid">
    <div class='span12 text-right'>
      <span id="view-saving-region"></span>
      <span id="view-settings-region"></span>
    </div>
  </div>
</div>
