<div id="filter-bar">
  <div class="row-fluid">
      <div class="span9">
        <a href="#" onclick="return false;" id="js-view-back">&laquo; Return to Previous Screen</a>
        <br/>
        <h3>Election Metadata: Participation, Performance and Demographics</h3>
      </div>
  </div>
</div>
