<div id="filter-bar">
  <div class="row">
    <div class="col-xs-6">
      <a href="#" onclick="return false;" id="js-view-back">&laquo; Return to Previous Screen</a>
      <br/>    
      <h3>Saved Maps</h3>
    </div>
    <div class="col-xs-6">
      <a href="#metadata"  id="js-election-metadata">View Election Metadata &raquo;</a>
      <label id="percent-reporting"><%%= gon.percentReporting %>&nbsp;&nbsp;</label>
    </div>
  </div>
  <div class="row-fluid">
      <div class="col-xs-12 ">
        <div href="#view-back" id="view-options">
          <a href="#preview-selected" <%%= 'disabled' if !@mapsSelected() %> onclick="return false;" id="js-preview-selected" class='btn btn-primary'>Preview</a>
          <a href="#compare-selected" <%%= 'disabled' if !@mapsSelected() %> onclick="return false;" id="js-compare-selected" class='btn btn-primary'>Compare</a>
          <a href="#delete-selected" <%%= 'disabled' if !@mapsSelected() %> onclick="return false;" id="js-delete-selected" class='btn btn-primary'>Delete</a>
        </div>   
      </div>
  </div>
</div>
<div id="content">
  <div class="row">
    <div class="col-xs-6">
      <div id="map-list-region">
        <div class='map-saved-items'>
          <%% if @saved_count > 0: %>
            <ul>
              <%% for map in @maps: %>
                <li class='saved-map-list-item <%%= "preview" if @isPreviewed(map.id) %>  '>
                  <label for="map_<%%= map.id %>">
                    <input name="map_<%%= map.id %>" type="checkbox" value="<%%= map.id %>" 
                      <%% if @isSelected(map.id): %>  
                      <%% console.log(map.id) %>
                        checked
                      <%% end %>
                    />
                    <a class='map-link' href='#<%%= map.url %>'><%%= map.getName() %></a>
                    <div id="map-region-<%%= map.id %>" class="saved-map-list-item-map"></div>
                  </label>
                </li>
              <%% end %>
            </ul>
          <%% end %>
        </div>
      </div>
    </div>
  </div>
</div>