@import "public/_config";

$bc-font-size: 18px;
$bc-line-height: 30px;

#bread-crumbs, #view-options {
  padding: $section-padding $side-padding;
  border-bottom: $section-border;
  color: $header-color;
  font-size: $bc-font-size;

  line-height: $bc-line-height;

  .view-selector {
    text-align: right;
  }
}

#view-options {
  border: none;
  padding-left: 0;
  padding-right: 0;
  #view-saving-region {
    display: inline-block;
    font-size: 14px;
    .map-saved-items {
      display: inline-block;
      position: relative;
      cursor: default;
      ul {
        margin: 0;
        right: 0;
        padding: 3px 5px;
        position: absolute;
        top: 100%;
        display: none;
        background: white;
        z-index: 1000000;
        border: 1px solid #aaa;
        box-shadow: 0px 1px 3px #ccc;
        list-style: none;
        li {
          display: block;
          padding: 3px 5px;
          white-space: nowrap;
        }
      }
    }
    .map-saved-items:hover {
      ul {
        display: block;
      }
    }
    .btn {
      span.btn-label {
        font-size: 14px;
      }
    }
  }
}

#breadcrumbs-region {
  label {
    display: inline;
    font-size: $bc-font-size;
    font-weight: 800;
  }
}

$selector-icon-size: 24px;
$selector-icon-padding: 0px;

#map-view-selector, #list-view-selector {
  padding-left: $selector-icon-size + $selector-icon-padding;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: $selector-icon-size $selector-icon-size;
  line-height: $bc-line-height;
  padding: {
    top: 0;
    bottom: 0;
  }
  margin-left: 0;
}

#view-settings-button {
    font-size: $bc-font-size;
    height: $bc-line-height;
    margin-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    
    .caret {
      margin-left: 4px;
    }
}

#view-settings-region {
  .btn-group.open {
    .caret {
      border-top-color: white;
    }
  }
  
  // Override blue theme
  .dropdown-menu > li > a {
    color: #333 !important;
    background-image: none !important;
    background-color: white !important;
    &:hover {
      color: white !important;
      background-color: #DDDCDC !important;
    }
    
    input[type="radio"], input[type="checkbox"] {
        margin: 0;
    }    
  }
  
  #map-save-button {
    background-color: #989898;
    margin-left: 20px;
  }
}


#map-view-selector {
  background-image: image-url('mapview_icon_normal.png');
  &.active {
    background-image: image-url('mapview_icon_selected.png');
  }
}
#list-view-selector {
  background-image: image-url('listview_icon_normal.png');
  &.active {
    background-image: image-url('listview_icon_selected.png');
  }
}
