@import "public/_config";

$bc-font-size: 18px;

#bread-crumbs {
  padding: $section-padding $side-padding;
  border-bottom: $section-border;
  color: $header-color;
  font-size: $bc-font-size;

  line-height: 30px;

  .view-selector {
    text-align: right;
  }

  label {
    display: inline;
    font-size: $bc-font-size;
    font-weight: 800;
  }
}

$selector-icon-size: 24px;
$selector-icon-padding: 0px;

#coloring-type-selector-region button {
  line-height: 30px;
  padding: {
    top: 0;
    bottom: 0;
  }
  margin-left: 0;
}

#map-view-selector, #list-view-selector {
  padding-left: $selector-icon-size + $selector-icon-padding;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: $selector-icon-size $selector-icon-size;
  line-height: 30px;
  padding: {
    top: 0;
    bottom: 0;
  }
  margin-left: 0;
}

#map-view-selector {
  background-image: image-url('mapview_icon_normal.png');
  &.active {
    background-image: image-url('mapview_icon_selected.png');
  }
}
#list-view-selector {
  background-image: image-url('listview_icon_normal.png');
  &.active {
    background-image: image-url('listview_icon_selected.png');
  }
}
