@import "compass";
@import 'public/_mixins';
@import "public/_config";

#filter-bar {
  padding: $section-padding $side-padding 20px;
  border-bottom: $section-border;
  background: #F3F3F3;
  color: $filter-bar-color;

  label {
    font-size: 80%;
    font-weight: 800;
    text-transform: uppercase;
    &.dropdown-label {
      padding-left: 10px;
    }
  }

  a {
    //color: $filter-bar-color;
  }

  .dropdown-menu {
    max-height: 150px;
    overflow-y: scroll;
    @include force-scrollbar();
  }
}

#filter-bar-region {
  margin-bottom: 20px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #filter-bar-region {
    margin-bottom: 10px;
  }
}