@import "compass";
@import 'public/_mixins';
@import "public/_config";



#js-election-metadata, #js-view-feed, #js-advanced-filters, #percent-reporting {
  display: block;
  text-align: right;
  line-height: 1.6em;
  text-decoration: none;
}

#filter-bar {
  padding: $section-padding $side-padding 20px;
  border-bottom: $section-border;
  background: #F3F3F3;
  color: $filter-bar-color;

  h3 {
    margin: 0;
  }

  label {
    font-size: 80%;
    font-weight: 800;
    text-transform: uppercase;
    &.dropdown-label {
      margin-top: 2em;
      padding-left: 10px;
    }
  }

  a {
    //color: $filter-bar-color;
  }

  .full-btn-group, .toggle-box {
    width: 100%;
    display: block;
    margin: 5px -15px 0;
    .btn, a {
      display: block;
      width: calc(100% + 25px);
      white-space: nowrap;
      height: 32px;
    }
  }
  .toggle-box a {
    line-height: 12px;
    font-size: 12px;
    padding: 10px 6px;
    input {
      margin-top: -1px;
    }
  }
  
  
  .dropdown-menu {
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    @include force-scrollbar();
  }


}

#filter-bar-region {
  margin-bottom: 20px;
}

#save-view-as {
  /* fixes because include 2 version of bootstrap */
  .modal {
    width: 50%;
    background: transparent;
    border:0;
    margin: 0px auto;
    box-shadow: none;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #filter-bar-region {
    margin-bottom: 10px;
  }
}