@import "compass";

#header {
  .title-bar {
    height: 28px;
    background: #cacacf;
    @include background-image(linear-gradient(#fbfcfc, #cacfcf));
    border-bottom: 2px solid #555;

    h1 {
      font-size: 100%;
      display: inline-block;
      line-height: 28px;
      margin: 0;
    }

    .title {
      margin-left: 10px;
      img {
        margin: 2px 0;
      }
    }

    .share {
      margin-right: 10px;
      line-height: 28px;

      img {
        margin-left: 10px;
      }
    }
  }

  .heading-bar {
    height: 94px;
    background-color: #494a4d;
    border-bottom: 1px solid #454749;
    text-align: center;
    color: #fff;

    h1 {
      font-family: "Times New Roman",sans;
      font-weight: normal;
    }
  }

  .filter-bar {
    border-top: 1px solid #5b5e5e;
    border-bottom: 1px solid #a3a6a7;
    height: 50px;

    label {
      margin-top: 9px;
      margin-bottom: 0;
      line-height: 11px;
      font-size: 11px;
      height: 11px;
      color: #494a4d;
      cursor: default;
    }

    .selection {
      display: inline-block;
      margin-top: 4px;
      line-height: 14px;
      font-size: 14px;
      font-weight: bold;
      color: #494a4d;
      cursor: pointer;

      .drop-down-arrow {
        margin-left: 7px;
      }
    }

    .reporting {
      text-align: right;

      span {
        display: block;
        font-size: 11px;
        line-height: 11px;
        height: 11px;
        margin-top: 27px;
      }
    }

    .popover {
      margin-top: 5px;
      display: none;
      top: auto;
      left: auto;
      opacity: 1;
      max-width: none;

      font-weight: normal;

      .popover-body {
        width: 300px;
        height: 150px;
        margin-top: 9px;
        overflow-y: scroll;
      }

      ::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
      }
      ::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0,0,0,.5);
          -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      }
    }
  }
}
