@import "compass";

#header {
  .reporting {
    text-align: right;
  }

  .title-bar {
    height: 28px;
    background: #cacacf;
    @include background-image(linear-gradient(#fbfcfc, #cacfcf));
    border-bottom: 2px solid #555;

    h1 {
      font-size: 100%;
      display: inline-block;
      line-height: 28px;
      margin: 0;
    }

    .title {
      margin-left: 10px;
      img {
        margin: 2px 0;
      }
    }

    .share {
      margin-right: 10px;
      line-height: 28px;

      img {
        margin-left: 10px;
      }
    }
  }

  .heading-bar {
    height: 94px;
    background-color: #494a4d;
    border-bottom: 1px solid #454749;
    text-align: center;
    color: #fff;
    overflow: hidden;

    h1 {
      font-family: "Times New Roman",sans;
      font-weight: normal;
    }
  }

  .filter-bar {
    border-top: 1px solid #5b5e5e;
    border-bottom: 1px solid #a3a6a7;
    height: 50px;

    label {
      margin-top: 9px;
      margin-bottom: 0;
      line-height: 11px;
      font-size: 11px;
      height: 11px;
      color: #494a4d;
      cursor: default;
    }

    .selection {
      display: inline-block;
      margin-top: 4px;
      line-height: 14px;
      font-size: 14px;
      font-weight: bold;
      color: #494a4d;
      cursor: pointer;
      text-decoration: none;

      .drop-down-arrow {
        margin-left: 7px;
      }
    }

    .reporting {
      text-align: right;

      span {
        display: block;
        font-size: 11px;
        line-height: 11px;
        height: 11px;
        margin-top: 27px;
      }
    }

    .nav-tabs > li {
      margin: 0;
    }

    .nav-tabs > li > a {
      border: 0;
      border-radius: 0;
      margin-right: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }

    .nav-tabs > .active > a {
      border: 0;
      background: #f3f3f3;
    }

    .categories.popover ul {
      margin-bottom: 0;
    }

    .popover-content {
      padding: 0;
      font-size: 90%;
      min-width: 100px;

      a {
        text-decoration: none;
        color: #4a4a4a;
        display: block;
        padding: 3px 6px;
      }

      .non-reporting a {
        color: #CCC;
      }

      ul {
        list-style: none;
        margin: 0;
      }

      .nav-tabs li {
        border: none;
        &:hover {
          border: none;
        }
      }

      li {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        &:hover {
          background: #e1e2e2;
          border-top: 1px solid #e7e8e8;
          border-bottom: 1px solid #efefef;
        }
      }
    }

    .popover {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;

      margin-top: 5px;
      padding: 0;
      display: none;
      top: auto;
      left: auto;
      opacity: 1;
      max-width: none;

      font-weight: normal;

      .popover-body {
        height: 150px;
        overflow-y: scroll;
      }

      ::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
      }
      ::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgba(0,0,0,.5);
          -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      }
    }
  }
}


/* Landscape phones and down */
@media (max-width: 480px) {
  #header {
    .heading-bar {
      height: auto;
      text-align: left;
      padding: 0 10px;
    }

    #voting-info {
      margin-bottom: 10px;
    }

    .filter-bar {
      padding: 0 10px;
      height: auto;
    }
  }
}
