#map-list-region {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      input[type=checkbox] {
        margin: 0;
      }
      .saved-map-list-item-map {
        display: none;
        .map-view {
            height: 300px;
            width: 300px;
        }        
      }
      
      &.preview {
        .saved-map-list-item-map {
          display: block;
        }
      }
      
      
    }
  }
}