%header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %button.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        = link_to 'Dashboard', :admin_root, class: 'brand'
        .nav-collapse
          %ul.nav
            = nav_link_to "States", :admin_states, controller: 'admin/states'
            = nav_link_to "Localities", :admin_localities, controller: 'admin/localities'
            = nav_link_to "Data management", :admin_data, controller: 'admin/data'
