<div class='panel span9 summary'>
	<div class='header'><h5><%%= @summary.get('title') %></h5></div>
	<div class="content candidates"></div>

	<div class='show-more-less'>
	  <a href="#" id='js-show-more' class='show-more hide'>Show More Candidates <%= image_tag 'show_all_candidates_arrow_down_normal.png' %></a>
	  <a href="#" id='js-show-less' class='show-less hide'>Show Less Candidates <%= image_tag 'show_fewer_candidates_arrow_up_normal.png' %></a>
	</div>
</div>