<% ballots_label = I18n.t 'scoreboard.header.percentage_type_selector.ballots' %>
<% voters_label = I18n.t 'scoreboard.header.percentage_type_selector.voters' %>
<button class="btn btn-small<%%= ' active' if @percentageType == 'ballots' %>" data-type="ballots" title="<%= ballots_label %>"><%= ballots_label %></button>
<button class="btn btn-small<%%= ' active' if @percentageType == 'voters' %>" data-type="voters" title="<%= voters_label %>"><%= voters_label %></button>
