.precinct-bubble {
  table {
    .iw-n {
      width: 200px;
      font-weight: bold;
    }
    .iw-v {
      width: 50px;
      text-align: right;
    }

    .iw-p {
      width: 50px;
      text-align: right;
      font-weight: bold;
    }
  }
}
