.precinct-bubble {
  table {
    margin: 10px 0;

    .iw-n {
      width: 200px;
      font-weight: bold;
    }
    .iw-v {
      width: 50px;
      text-align: right;
    }

    .iw-p {
      width: 50px;
      text-align: right;
      font-weight: bold;
    }
  }

  .iw-all {
    text-align: center;
  }
}
