<div class='js-trigger'>
  <%%= @contest.get('office') %>
  <%= image_tag "drop-down-arrow.png", class: 'drop-down-arrow' %>
</div>
<div class="popover">
  <div class="popover-content">
    Choose a Category:
    <div class="popover-body" id="contests-region">
    </div>
  </div>
</div>
