<div class='js-trigger'>
  <span id="region-label-region"></span>
  <%= image_tag "drop-down-arrow.png", class: 'drop-down-arrow' %>
</div>
<div class="popover">
  <div class="popover-content">
    
    <ul class="nav nav-tabs">
      <li class="js-tab-all active"><a href="#"><%= I18n.t 'scoreboard.header.right_menu.tabs.all' %></a></li>
      <li class="js-tab-districts"><a href="#"><%= I18n.t 'scoreboard.header.right_menu.tabs.districts' %></a></li>
      <li class="js-tab-precincts"><a href="#"><%= I18n.t 'scoreboard.header.right_menu.tabs.precincts' %></a></li>
    </ul>

    <div class='popover-body' id="selector-region">
    </div>
  </div>
</div>
