<div class='js-trigger'>
  <%%= @view %>
  <%= image_tag "drop-down-arrow.png", class: 'drop-down-arrow' %>
</div>
<div class="views popover">
  <div class="popover-content">
    <ul>
      <li><a href="#" data-view='map'><%= I18n.t 'scoreboard.header.view_selector.options.map' %></a></li>
      <li><a href="#" data-view='list'><%= I18n.t 'scoreboard.header.view_selector.options.list' %></a></li>
    </ul>
  </div>
</div>
