<div class='js-trigger'>
  <%%= @view %>
  <%= image_tag "drop-down-arrow.png", class: 'drop-down-arrow' %>
</div>
<div class="views popover">
  <div class="popover-content">
    <ul>
      <li><a href="#" data-view=''>Map</a></li>
      <li><a href="#" data-view='list'>List</a></li>
    </ul>
  </div>
</div>
