- @page_id = 'pages_federal'
- @js = 'demo_federal'
-# - @js = 'results'
-# #main-region

.row
  .span12
    %h1 Election Night Reporting
    %h2 Ramsey County, Minnesota
    %p Scoreboard for November 6, 2012 General Election

    .scale
      %label.radio
        = radio_button_tag 'scale', 'federal', true
        Federal
      %label.radio
        = radio_button_tag 'scale', 'state'
        State
      %label.radio
        = radio_button_tag 'scale', 'local'
        Local

.row
  .span4
    %p
      View Election Results for all Precincts, or<br>
      Select a Precinct or District

    %section.districts
      %h4 Select a District
      .accordion#acc-district
        %h3 Federal Districts
        %div Federal districts list
        %h3 State Districts
        %div State districts list
        %h3 County Districts
        %div County districts list
        %h3 Local Districts
        %div Local districts list

    %section.precincts
      %h4 Select a Precinct
      .ui-accordion
        .ui-state-active.ui-accordion-header All precincts
      .accordion#acc-precinct
        %h3 Precincts A-M
        %div Precincts A through M
        %h3 Precincts N-S
        %div Precincts N through S
        %h3 St. Paul
        %div St. Paul
        %h3 Precincts T-Z
        %div Precincts T through Z

  .span8
    %section.results
      %h4 Presidential Contest (All Precincts)
      %table.table
        %tr
          %th Obama
          %td.text-right 80%
        %tr
          %th Romney
          %td.text-right 20%
      %p 100% Reporting

    %section.map
      = render 'map'
