body {
  padding-top: 60px;
  padding-bottom: 40px;
}

table {
  .uid { width: 100px; }
  .l   { width: 100px; }
}

table.properties {
  margin-bottom: 20px;
}

.file-wrap {
  position: relative;

  .file-btn {
    position: absolute;
    opacity: 1;

    &.btn {
      display: block;
      height: 20px;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      line-height: 20px;
    }
  }

  input[type='file'] {
    display: block;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 100%;
  }
}
