<div id="filter-bar">
  <div class="row">
    <div class="col-xs-6">
      <a href="#" onclick="return false;" id="js-view-back">&laquo; Return to Previous Screen</a>
      <br/>    
      <h3>Compare Maps</h3>
    </div>
    <div class="col-xs-6">
      <a href="#metadata"  id="js-election-metadata">View Election Metadata &raquo;</a>
      <label id="percent-reporting"><%%= App.percentReporting %>&nbsp;&nbsp;</label>
    </div>
  </div>
</div>
<div id="content">
  <div class="row">
      <div class="col-xs-12 ">
        <button class="btn btn-small<%%= ' active' if true %>" data-view="side-by-side" title="View all selected maps" id="side-by-side-comp-selector">Side by Side View</button>
        <button class="btn btn-small<%%= ' active' if false %>" data-view="overlay" title="Combine selected maps" id="overlay-comp-selector">Overlay View</button>
      
      </div>
  </div>
  <div id="map-comparison" class="row">
    <%% for map in @maps(): %>
      <div class="col-xs-12 map-comparison-item" id="map-comparison-item-<%%= map.id %>">
        <h4>
          <a href="<%%= map.url %>"><%%= map.getName() %></a>
          <span class='visible-map-toggle fa fa-plus-square-o' data-map-id="<%%= map.id %>" ></span>
          <span class='visible-map-toggle fa fa-minus-square-o' data-map-id="<%%= map.id %>" ></span>
        </h4>
        <p class='map-comparison-item-description' id="map-description-region-<%%= map.id %>">loading</p>
        <div id="map-region-<%%= map.id %>" class="map-comparison-item-map"></div>
      </div>
    <%% end %>    
  </div>
</div>