@import "compass";
@import "public/_config";

#header {
  padding: 0 $side-padding;
  border-bottom: 3px solid #CDCCCB;
}

#header-bar {
  padding: 20px 0;
  color: $header-color;

  .election-meta {
    font-weight: 800;
    margin-bottom: 5px;
  }

  .election-info {
    color: #858585;
  }

  .election-locality {
    font-size: 27px;
    font-weight: 800;
  }

  .header-share {
    text-align: right;
  }

  #js-tweet, #js-facebook-share, #js-gplus {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  #js-tweet {
    background: image-url('twitter_icon_normal.png') transparent 0 0 no-repeat;
    &:hover {
      background: image-url('twitter_icon_hover.png') transparent 0 0 no-repeat;
    }
  }
  #js-facebook-share {
    background: image-url('facebook_icon_normal.png') transparent 0 0 no-repeat;
    &:hover {
      background: image-url('facebook_icon_hover.png') transparent 0 0 no-repeat;
    }
  }
  #js-gplus {
    background: image-url('googleplus_icon_normal.png') transparent 0 0 no-repeat;
    &:hover {
      background: image-url('googleplus_icon_hover.png') transparent 0 0 no-repeat;
    }
  }

  .ttv-logo {
    display: inline-block;
    margin-left: 20px;
  }
}
