<div id="filter-bar">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-6 col-sm-push-6">
      <a href="#metadata"  id="js-election-metadata">View Election Metadata &raquo;</a>
      <label id="percent-reporting"><%%= gon.percentReporting %>&nbsp;&nbsp;</label>
    </div>
    <div class='col-xs-12 col-sm-6 col-sm-pull-6'>
      <a href="#" onclick="return false;" id="js-view-back">&laquo; Return to Previous Screen</a>
      <br/>
      <h3>Advanced Filters</h3>       
    </div>
  </div>
  <div class="row-fluid">
      <div class="col-xs-12 col-sm-9">
        <div href="#view-back" id="view-options">
          <a href="#view-as-map" <%%= 'disabled' if !@filtersSelected() %> onclick="return false;" id="js-view-as-map" class='btn btn-primary'>View as Map</a>
          <a href="#view-as-list" <%%= 'disabled' if !@filtersSelected() %> onclick="return false;" id="js-view-as-list" class='btn btn-primary'>View as List</a>
        </div>   
      </div>

      <div class="col-xs-12 col-sm-3">
        <a href="#view-feed" id="js-view-feed"><%= I18n.t "scoreboard.advanced_filters.view_feed" %></a>
      </div>
  </div>
</div>
