<div id="filter-bar">
  <div class="row-fluid">
      <div class="span9">
        <a href="#" onclick="window.history.back(); return false;">&laquo; Return to Previous Screen</a>
        <h3>Advanced Filters</h3>
      </div>

      <div class="span3">
        <a href="#election-metadata" onclick="return false;" id="js-election-metadata">View Election Metadata &raquo;</a>
        <a href="#view-feed" id="js-view-feed"><%= I18n.t "scoreboard.advanced_filters.view_feed" %></a>
      </div>
  </div>
</div>
