<div id="filter-bar">
  <div class="row-fluid">
      <div class="span9">
        <a href="#" onclick="return false;" id="js-view-back">&laquo; Return to Previous Screen</a>
        <br/>
        <h3>Advanced Filters</h3>
        <div href="#view-back" id="view-options">
          <a href="#view-as-map" <%%= 'disabled' if !@filtersSelected() %> onclick="return false;" id="js-view-as-map" class='btn btn-primary'>View as Map</a>
          <a href="#view-as-list" <%%= 'disabled' if !@filtersSelected() %> onclick="return false;" id="js-view-as-list" class='btn btn-primary'>View as List</a>
        </div>
      </div>

      <div class="span3">
        <a href="#metadata"  id="js-election-metadata">View Election Metadata &raquo;</a>
        <a href="#view-feed" id="js-view-feed"><%= I18n.t "scoreboard.advanced_filters.view_feed" %></a>
      </div>
  </div>
</div>
