.page-header
  %h1 States

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th.uid UID
          %th.code Code
          %th.name Name
      %tbody
        - @states.each do |s|
          %tr
            %td.uid= s.uid
            %td.code= s.code
            %td.name= link_to s.name, [ :admin, s ]
