<div class="row-fluid" id="header-bar">
  <div class="span9">
    <div class="election-meta"><span class="election-info"><%%= @electionInfo %></span> <%%= @localityInfo %></div>
    <div class="election-locality">
      <span class='vs-logo'><span>Vote</span><span>Stream</span></span>
      <span class="live"><%= I18n.t "scoreboard.live" %></span>
    </div>
  </div>
  <div class="span3 header-share">
    <a href='#' id='js-facebook-share'>&nbsp;</a>
    <a href='#' id='js-tweet'>&nbsp;</a>
    <a href='#' id='js-gplus'>&nbsp;</a>
    <a href='<%= AppConfig['ttv_logo_url'] %>' target='_blank'>
      <%= image_tag "ttv_logo_normal.png", class: 'ttv-logo' %>
    </a>
  </div>
</div>
