<div class="row-fluid" id="header-bar">
  <div class="span9">
    <div class="election-meta"><span class="election-info"><%%= @electionInfo %></span> <%%= @localityInfo %></div>
    <div class="election-locality"><%= I18n.t "front.title" %> <%= image_tag "live.png" %></div>
  </div>
  <div class="span3 header-share">
    <a href='#' id='js-facebook-share'>&nbsp;</a>
    <a href='#' id='js-tweet'>&nbsp;</a>
    <a href='#' id='js-gplus'>&nbsp;</a>
    <%= image_tag "ttv_logo_normal.png", class: 'ttv-logo' %>
  </div>
</div>
